
<div class="panel panel-default" ng-init="getFoodStore()">
  <div class="panel-heading">
    <h3 class="panel-title">{{food.item}}</h3>
  </div>
<!--    <div class="col-md-4">
<img src="{{food.url}}" onerror="this.onerror=null; this.src='http://www4.pictures.zimbio.com/mp/LGqFU5M6JsPl.jpg';" >
</div>      -->
  <div class="panel-body">
    
      <div class="col-md-4">
        <img src="{{food.pic}}" onerror="this.onerror=null; this.src='http://www4.pictures.zimbio.com/mp/LGqFU5M6JsPl.jpg';">
      </div>
      <div class="col-md-8">
        
        <ul class="list-group">
          <li class="list-group-item">Cuisine: {{food.cuisine}}</li>
         
          <li class="list-group-item">Type: {{food.type}}</li>
          <li class="list-group-item">Cost:₹ {{food.cost}}</li>
        </ul>
        <a target="_blank" href="{{food.url}}" class="btn btn-primary">Order Now</a>
          
        
      <!--      <div class="pull-bottom">
              
            <div class="pull-right">
  <a href="#/foodstore/edit/{{food._id}}">Edit</a> |  <a href="#" ng-click="removeFoodStore(food._id)">Delete</a>
  </div>
           </div>-->
          
          <div class="pull-left">
              
            <a href="#/foodstore">Go Back</a>
          </div>
      </div>
    
  </div>
</div>

