<div class="panel panel-default" ng-init="getFoodStores()">
  <div class="panel-heading" style="background-image:none;background: Grey">
    <h3 class="panel-title" >Menu_Items</h3>
  </div>
    
 
  <div class="panel-body">
    <div class="row">
    	<div ng-repeat="food in foods">
            
            
            
    		<div class="col-md-6">
    			<div class="col-md-6">
    				<h2>{{food.item}}</h2>
    				<p>{{food.type}}</p>
                    <p>{{food.cost}}</p>
    				<a class="btn btn-primary" href="#/foodstore/details/{{food._id}}">View Details</a>
    			</div>
    			<div class="col-md-6">
    				<img class="thumbnail" ng-src="{{food.pic}}" height="140" width="20">
    			</div>
    		</div>
    	
    </div>
  </div>
      
    </div>
</div>